{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Retail Eye</title>

      <link rel="stylesheet" href="../static/css/footer.css" />
      <link rel="stylesheet" href="../static/css/button.css" />
      <link rel="stylesheet" href="../static/css/header.css" />

  </head>
  <body>
    <!-- 헤더 -->
    <div class="header">
        <div id="name">RETAIL EYE</div>
    </div>
    <div class="header">
        <div id="header_explain">영상 분석을 통한 IoT 자동화 시스템</div>
    </div>

    <div class="count_box">
        <div id="count_box_box">인원 수 : </div>
        <div id="count">{{ text }}</div>
    </div>

    <!-- 버스 버튼 -->
    <div class="bus_box">
      <a class="bus" href="/fire" id="btn1">화재</a>
      <a class="bus" href="/robber" id="btn2">방범</a>
      <a class="bus" href="/accident" id="btn3">사고</a>
    </div>

    <!-- <script type="module" src="../user.js"></script> -->

  <div class="footer">
      <div>
          <div>
              <p id="title">참여자</p>
              <div class="name_box">
                  <div class="one_box">
                  <p>김민욱</p>
                  <p>email : kimmw2_@naver.com</p>
                  <p>github : k-kmw</p>
              </div>
                  <div class="divide"></div>
              <div class="one_box">
                  <p>황정호</p>
                  <p>email : wjdgh721224@naver.com</p>
                  <p>github : wjdgh224</p>
              </div>
                  <div class="divide"></div>
              <div class="one_box">
                  <p>황현정</p>
                  <p>email : whdwlgus12@gmail.com</p>
                  <p>github : seasameoil</p>
              </div>
              </div>
          </div>
      </div>
  </div>

  <script src="{% static 'main.js' %}"></script>
  </body>
</html>
